body {
    height: 100%;
    width: 100%;
    background-image: url("../../pictures/Pattern_blanc.png");
    margin: 0 0;
}
/*modification du conteneur*/
.conteneur{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:150px;
    border-radius: 5px;
    border-style:solid;
    border-color: #cccccc;
    width:45%;
    height:45%;
    min-width:600px;
    background-color: white;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    overflow: auto;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    color:black;
    width: 100%;
    min-width:240px;
}

.informations{
    padding: 0px;
    width: 100%;
    float: left;
}

.informations p{
    font-size:1.3rem;
    margin: 4% 20px;
}

.styleBTN {
    display: flex;
    background-color: #0066CC;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: 20px 20px;
    cursor: pointer;
    color: white;
    width: 93%;
    width: 93%;
    font-size: 1rem;
    padding: 14px 0px;
}

#vide{
    height:44px;
    width:100%;
}

.profil{
    font-weight: bold;
}

.pencil{
    float: right;
}

