/* page de connexion*/

input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom:10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #0066CC;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0022cc;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../pictures/Pattern_blanc.png");
}
#connexion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style:solid;
    border-color: #cccccc;
    padding:20px;
    width:30%;
    height:40%;
    min-height:300px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    min-width:400px;
    background-color: white;
}
#espace {
    height:200px;
}

/* page de deconnexion */
#vide{
    height:44px;
    width:100%;
}
.marginDeco{
    height:100%;
    width:100%;
    display:block;
    position:fixed;
    margin-top:15%;
}
.deconnexion {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50%;
    color: #0066CC;
}