* {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
html {
    width: 100%;
}
/*Modification du header*/
header {
    width: 100%;
    height: 44px;
    position: fixed;
    background-color: #333333;
    top: 0px;
    left: 0px;
    z-index:3;
}
form{
    margin: 0;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}

.MenuP {
    font-weight: bold;
    font-size: 106.25%;
    color: white;
    text-decoration: none;

}

.MenuP2 {
    font-weight: bold;
    font-size: 106.25%;
    color: #555555;
    text-decoration: none;

}

.MenuP:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-decoration: underline;
}

header li {
    list-style-type: none;
    float: left;
    margin-right: 80px;
}

header ul {
    padding-top: 10px;
    margin: 0px;
    float: right;
}
/*Menu burger*/
#burger {
    font-size: 40px;
    float: right;
    display: none;
    color: white;
}

#switch {
    display: none;
}

@media (max-width: 1000px) {
    #burger {
        display: block;
        cursor: pointer;
        margin-right: 5px;
        height: 44px;
    }

    #switch:checked + #navheader {
        display: block;
    }

    #navheader {
        width: 100%;
        display: none;
        clear: both;
    }

    header ul {
        width: 100%;
        background-color: #333333;
    }

    header li {
        width: 100%;
        height: 40px;
        text-align: center;
        margin-top: 0px;
        display: block;
        border-bottom: 1px solid white;
    }
}

/*fin de modification du header*/

/*Modification du footer*/

.Fin {
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
    height:100%;

}

#Fixed {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #f5f5f7;
    margin:auto;
}

#notFixed{
    height: 40px;
    width: 100%;
    background-color: #f5f5f7;
    margin:auto;

}
/*fin de modification du footer*/

