body {
    margin: 0px;
    background-image: url("../../pictures/Pattern_blanc.png");
}
/*Style pour les boutons déroulant + déroulant*/

/*la classe dans laquelle on va mettre l'ensemble de la structure*/
.dropdown {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: auto;
    min-width: 250px;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

/*Style du bouton*/
.dropbtn {
    box-sizing: border-box;
    background-image: url("../../pictures/shattered-island.gif");
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-height: 50px;
    min-width: 100%;
    font-size: 200%;
}

.box3 a {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-height: 50px;
    min-width: 100%;
    font-size: 200%;
    text-decoration: none;
}

/*modifie le style des déroulant aparaissant au click ou hover*/
.dropdown-content {
    z-index: 15;
    box-sizing: border-box;
    display: none;
    position: absolute;
    background-image: url("../../pictures/Pattern_blanc.png");
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
    right: 0;
    overflow: auto;
    left: 0;
}

.dropdown-content a {
    display: inline;
    text-align: center;
    word-spacing: 5px;
    background-image: url("../../pictures/Pattern_blanc.png");
}

.show{
    display: block;
}

.borderbox {
    border-style: solid;
    border-color: red;
}
/*Fin du style pour les bouton déroulant + déroulant*/

/*spécial admin*/

/*box : englobe la page principale, box1 et box2 prennent respectivement les boutons à gauche et à droite, une box par bouton et box3 est utilisé pour les 2 liens directes*/
.box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 10%;
    flex-wrap: nowrap;

}

.box .box1 {
    margin-right: 2%;
    display: flex;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.box .box2 {

    display: flex;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.box .box3 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../../pictures/shattered-island.gif");}
/*spécial admin*/

p1 {
    word-spacing: 5px;
}

h1,h2 {
    color: #DC143C;
    text-align: center;
    margin-top: 2%;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: dimgray;
    padding: 1% 10%;
    text-align: justify;
}

.contact{
    display: flex;
    width: 100%;
}

#mail{
    margin: 15% 0;
    text-align: center;
    width: 50%;
}
#mail p{
    text-align: center;
}

#telephone{
    width: 50%;
    margin: 15% 0;
    text-align: center;
    width: 50%;
}
#telephone p{
    text-align: center;
}
#vide{
    height:44px;
    width:100%;
}
#parametrer{
    width: 50%;
}

.blocML {
    margin: 5% 10% 10%;
}

.blocCGU {
    margin: 5% 10% 10%;
}