body {
    background-image: url("../../pictures/Pattern_blanc.png");
    margin: 0 0;
}

#vide {
    height: 44px;
}

#contenuAccueil {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

h1,.alert {
    text-align: center;
}

.suppFAQ {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 50px;
}

.ajoutBTN {
    width: 44px;
}

/**
 * CSS : user.php
 */

#myInput {
    background-image: url('../../pictures/searchicon.png'); /* Add a search icon to input */
    background-position: 5px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 64%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin: 0px 18% 0 18%;
}

.blocTable {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin: 3% 4%;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2)
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
}

.overflow {
    overflow: auto;
}

thead th, thead td {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

#myTable tbody th,#myTable tbody td, #myTable td{
    text-align: center;
    padding: 10px;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#blocAction {
    display: flex;
    flex-direction: row;
}

/**
 * CSS : deleteUSER.php
 */

#blocSupprimer {
    display: flex;
    width: 100%;
    justify-content: center;
}


.formSupprimer {
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #cccccc;
    padding: 15px;
    min-height: 150px;
    width: 530px;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    min-width: 300px;
    background-color: white;
}

/**
 * CSS : ajoutUSER.php / updateUSER.php
 */

#blocAjout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.addFAQ {
    margin: 30px 0;
}

.formAdd {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    border-style: solid;
    border-color: #cccccc;
    padding: 15px;
    min-height: 150px;
    width: 550px;
    height: 60%;
    overflow-y: auto;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    min-width: 300px;
    background-color: white;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.blocBTN {
    display: flex;
    width: 100%;

}

.styleBTN {
    display: flex;
    background-color: #0066CC;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin: 20px 5px;
    cursor: pointer;
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 14px 0px;
}

.addBTN {
    padding: 14px 20px;
}

input[type=text], input[type=date], input[type=number], select, input[type=tel],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #0066CC;
    color: white;
    padding: 14px 20px;
    margin: 20px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

input[type=submit]:hover, .styleBTN:hover {
    background-color: #0022cc;
}

label {
    display: block;
    width: 100%;
}
#addTable td{
    text-align: left;
    padding-left:10px;
    font-size:1rem;
}
.left{
    width:30%;
}

#addTable{
    height: 100%;
    margin-top:120px;
}

#moyenne{
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: white;
    color: royalblue;
    margin: 20px 25%;
    font-weight: bold;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    text-align: center;
}
