body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../../pictures/Pattern_blanc.png");
}

#vide{
    height: 44px;
}

h1{
    text-align: center;
    color: black;
}
#contenuAccueil{
    display:block;
    justify-content: center;
    align-content:center;
    width:100%;
}

/**
 * CSS : user.php
 */

.blocListeUtilisateurs{
    display: flex;
    flex-direction:column;
    height:40%;
    margin: 3% 4%;
    border-color: #cccccc;
    border-style:solid;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2)
}

#myInput {
    background-image: url('../pictures/searchicon.png'); /* Add a search icon to input */
    background-position: 5px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 64%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin: 0px 18% 0 18%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow: auto;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#blocAction {
    display: flex;
    flex-direction: row;
}